@{
    ViewData["Title"] = "iDelivery Ph";
}

<div class="main-wrapper">
    <div>
        <h1>Our Website is currently under construction</h1>
        <img class="logo" src="~/img/main-logo.png" alt="" />
        <h1>Riding Soon...</h1>
    </div>
</div>
